.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: $black;

    &__box-1{
        width: 50%;
        display: flex;
        justify-content: center;
        align-content: center; 
        margin: auto;
    }

    &__box-2{
        width: 50%;
        display: flex;
        justify-content: flex-start; 
        align-content: center; 
    }

    &__text{
        font-weight: $regular;
        color: $white;
        width: auto;
        margin: 0;
        padding-right: 20px;
     
    }


    &__input{
        padding-left: 10px;
            &:focus{
                background-color: $tangerine;
                color: $black;
        }
     
    }


    &__button{
        margin-left: 10px;
        color: $black;
        background-color: $tangerine;
        padding: 5px;
        &:hover{
            background-color: $white;
            color: $black;
        }
    }
}



@media only screen and (max-width: 992px){
    .footer{
        width: auto;
        display: block;
        margin: auto;

    &__box-1{ 
        display: block;
        margin: auto;
         width: 100%;
    }

    &__text{
        text-align: center;
        padding-bottom: 10px;
    }
    
        

    &__box-2{ 
        display: block;
        margin: auto;
        width: 100%;
   }

   &__input{
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }


    &__button{
        display: block;
        margin: auto;
    }
    }
}


